@import "jspsych-toj";
@import "bar-stimuli";

.jspsych-display-element {
  background-color: #c1c1c1;
}

.declaration {
  width: 95vw;
  max-width: 800px;
  height: 80vh;
}

.technical-instruction {
  width: 93vw;
  max-width: 800px;
  height: 70vh;
  max-height: 400px;
}

